<?xml version="1.0"?>
<model>
  <name>Testing Car</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>ROSCar project export</name>
  </author>
  <description>Generated SDF snapshot of the current armbot Xacro used by the testing simulation.</description>
</model>
